<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {{ title }} </title>
        {{#each css}}
            <link href="{{this}}" rel="stylesheet">
        {{/each}}

        {{#each js}}
            <script defer src="{{this}}"></script>

        {{/each}}
    </head>
    <body>
        <header class="main-header">
            <div class="logo">6-7-Ate-9</div>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/establishments">Establishments</a>
                <a href="/profile">Profile</a>
            </nav>

            <!-- for pages with search bar and login container -->
            {{#if searchBar}}
                <div class="search-bar-container">
                <form action="/search" method="get">
                    <input type="text" name="query" placeholder="Looking for...">
                    <button type="submit" class="search-btn">Search</button>
                </form>
                </div>
            {{/if}}

            {{#if user}}
                <form action="/logout" method="POST">
                    <button onclick="this.submit()" class="logout-btn">Log Out</button> 
                </form>
            {{else}}
                <div class="login-container">
                    <a href="/login" class="login-btn">Log In</a>
                    <a href="/signup" class="signup-btn">Sign Up</a>
                </div>
            {{/if}}
        </header>

        <!-- Main content will be injected here -->
        {{{ body }}}
    </body>
</html>
