
<main class="establishment-container">
    <div class="establishment-left">
        <img id="establishment-img" src="{{establishment.imageSrc}}" alt="{{establishment.name}}">
        <div class="establishment-info">
            <h2 id="establishment-name">{{establishment.name}}</h2>
            <p id="establishment-rating">{{establishment.avgRating}}</p>
            <p id="establishment-category">{{establishment.category}}</p>
            <p id="establishment-price">₱{{establishment.priceRange.min}}-{{establishment.priceRange.max}}</p>
            <p id="establishment-location">{{establishment.location.city}} {{establishment.location.street}}</p>

            <div class="establishment-about">
                <h3>About</h3>
                <p id="establishment-about">{{establishment.description}}</p>
            </div>
        </div>
    </div>

    <div class="establishment-right">
        {{#if user}}
            <h2>Reviews</h2>
        {{else}}
            <h2> You need to login to post a review. </h2>
        {{/if}}

        <div id="review-search">
            <input placeholder="Search reviews..." type="text" id="review-search-bar" />
            <button id="review-search-button" onclick="searchReviews()">Search</button>
            <input id="review-search-value" type="hidden" value=""> 
        </div>

        <div id="reviews-list">
            {{#each reviews}}
            {{/each}} 
        </div>

        <div id="reviews-pagination-container">
            <strong>
                <span id="reviews-result-count">Showing 0 results</span>
            </strong>
            
            <span id="reviews-page-buttons">
                <button onclick="prevPageReviews()"> < </button>
                <button onclick="nextPageReviews()"> > </button>
            </span>
            <input id="reviews-page" type="hidden" value=1> 
            <strong>
                <span id="reviews-page-number">Page 1</span>
            </strong>
        </div>
        
    </div>
</main>


<script defer>

</script>

<script defer>
    const establishmentId = '{{establishment._id}}'
</script>

<style>
    .review-response {
        margin-left: 1em;
    }
    .review-editarea {
        width: 100%;
        display: none;
    }
    .review-editarea > textarea {
        width: 100%;
        resize: none;
        height: 5vh;
    }
    .review-actions-right {
        margin-left: 1em;
    }
    .response-comment-input{
        outline: none;
        border: none;
        border-bottom: 1px black solid;
        height: auto;
        resize: none;
        width: 100%;
        min-height: 20px
        scrollHeight: 20px;
        max-height: 300px;
    }
    .review-response-input {
        display: none;
    }
</style>


