<main class="content-container establishments-page">
    <h2>DISCOVER PLACES TO EAT</h2>

    <div id="establishment-list">
        {{#each establishments}}
        <div class="card">
            <div class="card-left">
            <img src="{{this.imageSrc}}" alt="[{{this.name}} | establishment image]" class="card-img">
            </div>

            <div class="card-right">
            <h3>{{this.name}}</h3>
            <p>{{#renderStarsHTML this.avgRating}}{{/renderStarsHTML}}</p>
            <p>{{this.location.city}} • ₱{{this.priceRange.min}} - ₱{{this.priceRange.max}}</p>

            <p class="establishment-about">
                “{{truncate this.description 100}}”
            </p>

            <button>
                <a href="/establishment/{{this._id}}">Read More</a>
            </button>
            </div>
        </div>
        {{/each}}
    </div>

    <div style="display:flex; justify-content:center; align-items:center; gap:30px; width:100%; margin-top:20px; padding-top:10px;">
        {{#if prevPage}}
            <span>
                <a href="/establishments?page={{prevPage}}" 
                style="color:#d14d72; text-decoration:none; font-size:14px; font-weight:600;">
                Previous
                </a>
            </span>
        {{/if}}

        <span style="color:#555; font-size:14px;">
            Showing {{start}}–{{end}} of {{totalCount}} results
        </span>

        {{#if nextPage}}
            <span>
                <a href="/establishments?page={{nextPage}}" 
                style="color:#d14d72; text-decoration:none; font-size:14px; font-weight:600;">
                Next
                </a>
            </span>
        {{/if}}
    </div>
</main>


