{{#*inline "styles"}}
  <link rel="stylesheet" href="/css/establishments.css">
{{/inline}}

<main class="content-container establishments-page">
    <h2>DISCOVER PLACES TO EAT</h2>

    <div id="establishment-list">
        {{#each establishments}}
        <div class="card">
            <div class="card-left">
            <img src="{{this.imageSrc}}" alt="[{{this.name}} | establishment image]" class="card-img">
            </div>

            <div class="card-right">
            <h3>{{this.name}}</h3>
            <p>{{#renderStarsHTML this.avgRating}}{{/renderStarsHTML}}</p>
            <p>{{this.location.city}} • ₱{{this.priceRange.min}} - ₱{{this.priceRange.max}}</p>
            <p class="establishment-hours">Open from {{this.hours}}</p>

            <p class="establishment-about">
                {{!-- “{{truncate this.about 100}}” --}}
                “{{this.description}}”
            </p>

            <button>
                <a href="/establishment/{{this._id}}">Read More</a>
            </button>
            </div>
        </div>
        {{/each}}
    </div>

<!--- not implemented (yet?) but this is where pagination would go 
    <div id="pagination">
        {{pagination}}
    </div>
--->

    <div id="results-info">
        Showing {{establishments.length}} results
    </div>
</main>


