
<main class="establishment-container">
    <div class="establishment-left">
        <img id="establishment-img" src="{{establishment.imageSrc}}" alt="{{establishment.name}}">
        <div class="establishment-info">
            <h2 id="establishment-name">{{establishment.name}}</h2>
            <p id="establishment-rating">{{#renderStarsHTML establishment.avgRating}}{{/renderStarsHTML}} ({{establishment.avgRating}})</p>
            <p id="establishment-category">{{establishment.category}}</p>
            <p id="establishment-price">₱{{establishment.priceRange.min}} - ₱{{establishment.priceRange.max}}</p>
            <p id="establishment-location">{{establishment.location.city}} {{establishment.location.street}}</p>

            <div class="establishment-about">
                <h3>About</h3>
                <p id="establishment-about">{{establishment.description}}</p>
            </div>
        </div>
    </div>

    <div class="establishment-right">
        {{#if userReview}}
        {{!-- do not render form  --}}
        {{else}}
            {{#if user}}
            <form id="review-form" method="POST" action="/postreview/{{establishment._id}}" enctype="multipart/form-data">
                <span class="review-rating star-rating-selector"> 
                    <input type="hidden" name="rating" class="rating-value" value="" required="true" autocomplete="off"/>
                    <span class="rating-text"></span>
                    <span onclick="updateReviewRating(this, 1)" class="rating-stars stars">☆</span>
                    <span onclick="updateReviewRating(this, 2)" class="rating-stars stars">☆</span>
                    <span onclick="updateReviewRating(this, 3)" class="rating-stars stars">☆</span>
                    <span onclick="updateReviewRating(this, 4)" class="rating-stars stars">☆</span>
                    <span onclick="updateReviewRating(this, 5)" class="rating-stars stars">☆</span>
                </span>

                <textarea name="comment" id="review-text" placeholder="Write your review..." required></textarea>

                <div class="input-group">
                    <label for="media">Add media...</label> <br />
                    <input type="file" name="media" accept=".jpg, .jpeg, .png, .mp4, .mov, .avi, .mkv" class="file-input" multiple>
                </div>
                <button id="add-review-btn" type="submit">Add Review</button>
            </form>
            {{else}}
            <h2> You need to login to post a review. </h2>
            {{/if}}
        {{/if}}

        <div id="review-search">
            <input placeholder="Search reviews..." type="text" id="review-search-bar" />
            <button id="review-search-button" onclick="searchReviews()">Search</button>
            <input id="review-search-value" type="hidden" value=""> 
        </div>

        <div id="reviews-list">
        </div>

        <div id="reviews-pagination-container">
            <strong>
                <span id="reviews-result-count">Showing 0 results</span>
            </strong>
            
            <span id="reviews-page-buttons">
                <button onclick="prevPageReviews()"> < </button>
                <button onclick="nextPageReviews()"> > </button>
            </span>
            <input id="reviews-page" type="hidden" value=1> 
            <strong>
                <span id="reviews-page-number">Page 1</span>
            </strong>
        </div>
        
    </div>
</main>


<script defer>
    const establishmentId = '{{establishment._id}}'

    window.currentUserId = '{{user._id}}';
</script>

<style>
</style>
