{{#*inline "styles"}}
  <link rel="stylesheet" href="/css/establishments.css">
{{/inline}}

<main class="content-container establishments-page">
    <h2>DISCOVER PLACES TO EAT</h2>

    <div id="establishment-list">
        {{#each establishments}}
            <div class="card">
                <div class="card-left">
                    <img src="{{this.image}}" alt="[{{this.name}} | establishment image]" class="card-img">
                    <div class="card-content">
                        <h3>{{this.name}}</h3>
                        <p>{{#renderStarsHTML this.avgRating}}{{/renderStarsHTML}}</p>
                        <p>Food • {{this.location.city}}</p> {{! NOTE/TODO: Restaurants currently have no categories. }}
                        <p>₱{{this.priceRange.min}} - ₱{{this.priceRange.max}}</p>
                    </div>
                </div>

                {{! I suggest not keeping this ngl just make them open the page instead to reduce the amount of api requests needed (reviews are not stored in the establishment and are stored in a separate document) }}
                {{!-- <div class="card-right"> --}}
                {{!--     <h4>Recent Reviews</h4> --}}
                {{!--         {{#each (slice establishment.reviews 0 3)}} --}}
                {{!--             <p>"{{this}}"</p> --}}
                {{!--         {{/each}} --}}
                {{!--     <button><a href="/establishment/{{establishment.name}}">Read more</a></button> --}}
                {{!-- </div> --}}
            </div>
        {{/each}}
    </div>

<!--- not implemented (yet?) but this is where pagination would go 
    <div id="pagination">
        {{pagination}}
    </div>
--->

    <div id="results-info">
        Showing {{establishments.length}} results
    </div>
</main>


