{{#*inline "styles"}}
  <link rel="stylesheet" href="/css/establishment.css">
{{/inline}}

<main class="establishment-container">
    <div class="establishment-left">
        <img id="establishment-img" src="{{establishment.imageSrc}}" alt="{{establishment.name}}">
        <div class="establishment-info">
            <h2 id="establishment-name">{{establishment.name}}</h2>
            <p id="establishment-rating">{{establishment.avgRating}}</p>
            <p id="establishment-category">{{establishment.category}}</p>
            <p id="establishment-price">₱{{establishment.priceRange.min}}-{{establishment.priceRange.max}}</p>
            <p id="establishment-location">{{establishment.location.city}} {{establishment.location.street}}</p>

            <div class="establishment-about">
                <h3>About</h3>
                <p id="establishment-about">{{establishment.description}}</p>
            </div>
            {{! current db design does not have hours }}
            {{!-- <div class="establishment-hours"> --}}
            {{!--     <h3>Hours</h3> --}}
            {{!--     <p id="establishment-hours">{{establishment.hours}}</p> --}}
            {{!-- </div> --}}
        </div>
    </div>

    <div class="establishment-right">
        {{#if userReview}}
        {{else}}
        <form id="review-form">
            <textarea id="review-title" placeholder="Title your review..."> </textarea>
            <textarea id="review-text" placeholder="Write your review..."></textarea>

            <div class="input-group">
                <label for="review-media">Add media...</label> <br />
                <input type="file" name="review-media" accept="image/*" class="file-input">
            </div>
            <button id="add-review-btn" type="submit">Add Review</button>
        </form>
        {{/if}}

        <div id="reviews-list">
            {{#if userReview}}
                <div class="review" id="{{userReview.userId._id}}">
                    <div style="display: flex; justify-content: space-between">
                        <span>
                            <strong>{{userReview.userId.username}}</strong> • {{#renderStarsHTML userReview.rating}}{{/renderStarsHTML}}
                        </span>
                        <span>
                            <span id="review-delete">
                                <i class="fa-solid fa-trash"></i>
                            </span>
                            <span id="review-edit" onclick="toggleReviewEdit('{{userReview.userId._id}}')">
                                <i class="fa-solid fa-pen"></i>
                            </span>
                        </span>
                    </div>
                    <div class="review-comment">
                        <p class="review-comment-text">{{userReview.comment}}</p>
                        <div class="review-editarea">
                            <span class="review-editarea-rating"> 
                                <input type="hidden" class="review-editarea-rating-value" value="{{userReview.rating}}" autocomplete="off"/>
                                <span class="review-editarea-rating-text"></span>
                                <span onclick="updateReviewRating('{{userReview.userId._id}}', 1)" class="review-editarea-star stars">★</span>
                                <span onclick="updateReviewRating('{{userReview.userId._id}}', 2)" class="review-editarea-star stars">★</span>
                                <span onclick="updateReviewRating('{{userReview.userId._id}}', 3)" class="review-editarea-star stars">★</span>
                                <span onclick="updateReviewRating('{{userReview.userId._id}}', 4)" class="review-editarea-star stars">★</span>
                                <span onclick="updateReviewRating('{{userReview.userId._id}}', 5)" class="review-editarea-star stars">★</span>
                            </span>
                            <textarea class="review-editarea-text"></textarea>
                            <button class="review-editarea-cancel" onclick="toggleReviewEdit('{{userReview.userId._id}}')">Cancel</button> 
                            <button class="review-editarea-save" onclick="saveReview('{{userReview.userId._id}}')">Save</button> 
                        </div>
                    </div>
                    <div>
                        <span>
                            <i class="fa-regular fa-thumbs-up"></i> {{userReview.helpfulCount}}
                        </span>
                        <span>
                            <i class="fa-regular fa-thumbs-down"></i> {{userReview.unhelpfulCount}}
                        </span>
                    </div>
                </div>

                <script>
                    document.getElementById('review-delete').addEventListener('click', (e) => {
                        const proceedDelete = confirm("Delete user review?")
                        alert("relax, this don't work yet")
                    });

                    const toggleReviewEdit = (id) => {
                        const userReview = document.getElementById(id);
                        if (!userReview)
                            return

                        const userReviewText = userReview.getElementsByClassName("review-comment-text")[0];
                        const userReviewEditArea = userReview.getElementsByClassName("review-editarea")[0];

                        if (!userReviewText || !userReviewEditArea)
                            return
                        
                        // Toggle editing on
                        if (userReviewText.style.display != "none") {
                            userReviewText.style.display = "none";
                            userReviewEditArea.style.display = "block";
                            userReviewEditArea.getElementsByTagName('textarea')[0].value = userReviewText.innerText
                        } 
                        // Toggle editing off
                        else {
                            userReviewText.style.display = "block";
                            userReviewEditArea.style.display = "none";
                        }

                        updateReviewRating(id, -1);
                    }

                    const updateReviewRating = (id, rating) => {
                        const userReview = document.getElementById(id);
                        if (!userReview)
                            return;

                        const ratingValue = userReview.getElementsByClassName("review-editarea-rating-value")[0];
                        const ratingText = userReview.getElementsByClassName("review-editarea-rating-text")[0];
                        const ratingStars = userReview.getElementsByClassName("review-editarea-star");

                        if (!ratingValue || !ratingText || !ratingStars)
                            return

                        if (rating < 1 || rating > 5)
                            rating = ratingValue.value;

                        for(i=0; i<5; i++) {
                            let star = '☆'
                            if (i < rating)                            
                                star = '★';
                            ratingStars[i].innerText = star;
                        }

                        ratingText.innerText = rating+"/5"
                        ratingValue.value = rating
                    }

                    const saveReview = async (id) => {
                        const userReview = document.getElementById(id);
                        if (!userReview)
                            return;

                        const ratingValue = userReview.getElementsByClassName("review-editarea-rating-value")[0];
                        const reviewBody = userReview.getElementsByClassName("review-editarea-text")[0];

                        const rating = Number(ratingValue.value)
                        const comment = reviewBody.value

                        console.log(rating, comment)

                        const editReq = await fetch('/editreview/{{userReview.userId._id}}/{{establishment._id}}', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({rating: rating, comment: comment}),
                        })

                        const editRes = await editReq.json()

                        alert(editRes.message)
                        toggleReviewEdit(id);

                        if (editRes.status == 200) {
                            let newRating = editRes.data.rating
                            let newComment = editRes.data.comment

                            let starsStr = ''
                            for(i=0; i<5; i++) {
                                let star = '☆'
                                if (i < newRating)                            
                                    star = '★';
                                starsStr += star;
                            }
                            userReview.getElementsByClassName("star-rating")[0].innerText = starsStr;
                            userReview.getElementsByClassName("review-comment-text")[0].innerText = newComment;
                        }
                    }
                </script>

                <style>
                    .review-editarea {
                        width: 100%;
                        display: none;
                    }
                    .review-editarea > textarea {
                        width: 100%;
                        resize: none;
                        height: 5vh;
                    }
                </style>
            {{/if}}

            {{#each reviews}}
                <div class="review">
                    <div>
                        <strong>{{this.userId.username}}</strong> • {{#renderStarsHTML this.rating}}{{/renderStarsHTML}}
                        <p>{{this.comment}}</p>
                    </div>
                    <div>
                        <span>
                            <i class="fa-regular fa-thumbs-up"></i> {{this.helpfulCount}}
                        </span>
                        <span>
                            <i class="fa-regular fa-thumbs-down"></i> {{this.unhelpfulCount}}
                        </span>
                    </div>
                </div>
            {{/each}} 
        </div>
        
        <button id="view-more-btn">View More</button>
    </div>
</main>
