<main class="content-container establishments-page">
    <h2>DISCOVER PLACES TO EAT</h2>

    <div id="establishment-list">
        {{#each establishments}}
        <div class="card">
            <div class="card-left">
            <img src="{{this.imageSrc}}" alt="[{{this.name}} | establishment image]" class="card-img">
            </div>

            <div class="card-right">
            <h3>{{this.name}}</h3>
            <p>{{#renderStarsHTML this.avgRating}}{{/renderStarsHTML}}</p>
            <p>{{this.location.city}} • ₱{{this.priceRange.min}} - ₱{{this.priceRange.max}}</p>

            <p class="establishment-about">
                “{{truncate this.description 100}}”
            </p>

            <button>
                <a href="/establishment/{{this._id}}">Read More</a>
            </button>
            </div>
        </div>
        {{/each}}
    </div>

    <div id="pagination">
        {{#if prevPage}}
            <span class="pagination-link">
            <a href="/establishments?page={{prevPage}}">Previous</a>
            </span>
        {{/if}}

        <span id="results-info">
            Showing {{start}}–{{end}} of {{totalCount}} results
        </span>

        {{#if nextPage}}
            <span class="pagination-link">
            <a href="/establishments?page={{nextPage}}">Next</a>
            </span>
        {{/if}}
    </div>
</main>


